<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-br"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Venda de imóveis | Philigret Assessoria Imobiliária | Seu patrimônio confiado a quem entende</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="imovel.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <nav class="top-header guias">
                <ul>
                    <li><a href="#">Venda de imóveis</a></li>
                    <li><a href="#">Aluguel residencial</a></li>
                    <li><a href="#">Aluguel comercial</a></li>
                    <li><a href="#">Aluguel por temporada</a></li>
                </ul>
            </nav>

            <div class="guias-mobile">
                <a href="#" class="link_tela"><img src="../imgs/home4.png"> Voltar ao Início</a>
                <span class="link_tela">Estamos em: Venda de Imóveis</span>
            </div>

            <nav class="main-header">
                <img class="img_logo" src="../imgs/logotipo_header.png" alt="Logotipo | Philigret Asseroria Imobiliária" title="Logotipo | Philigret Asseroria Imobiliária">
                <ul class="menu">
                    <li><a href="venda-de-imoveis/">Inicio</a></li>
                    <li><a href="quem-somos/">A Imobiliária</a></li>
                    <li><a href="venda-de-imoveis/#nossos_servicos">Serviços</a></li>
                    <li><a href="venda-de-imoveis/#imoveis_destaque">Imóveis em Destaque</a></li>
                    <li><a href="venda-de-imoveis/#contato">Contatos</a></li>    
                </ul>
            </nav>
        </header>

        <div class="carrousel flexslider">
            <ul>
                <li><div class="img_banner" id="slide-1"></div></li>
                <li><div class="img_banner" id="slide-2"></div></li>
            </ul>
            <ol class="flex-control-nav">
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a class="prev" href="#">Anterior</a></li>
                <li><a class="next" href="#">Próximo</a></li>
            </ol>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>