asn1crypto==0.24.0
cffi==1.11.5
dj-database-url==0.5.0
Django==2.1.2
django-heroku==0.3.1
gunicorn==19.9.0
idna==2.7
Pillow==5.2.0
psycopg2==2.7.5
pycparser==2.18
pytz==2018.5
six==1.11.0
whitenoise==3.3.1
