body {
    background-image: url("../images/fundo-intro.jpg");
}

header {
    text-align: center;
    margin: 3% 0 0 0;
    padding: 0 0 3% 0;
    border-bottom: 10px solid #bdd2a2;
}

nav {
    text-align: center;
}

nav p {
    color: #ffffff;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px #000;
    font-family: "Raleway";
}

nav ul {
    list-style: none;
}