{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Philigret Assessoria Imobiliária | Seu patrimônio confiado a quem entende</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/intro.css" %}">
    </head>
    <body>
        <header>
            <img src="{% static "images/logotipo.png" %}" alt="Logotipo | Philigret Asseroria Imobiliária" title="Logotipo | Philigret Asseroria Imobiliária">
        </header>

        <nav>
            <p>Seja bem vindo!  Por favor, selecione a opção que deseja:</p>
            <ul>
                <li><a href="/venda-de-imoveis/">VENDA DE IMÓVEIS</a></li>
                <li><a href="/aluguel-residencial/">ALUGUEL RESIDENCIAL</a></li>
                <li><a href="/aluguel-comercial/">ALUGUEL COMERCIAL</a></li>
                <li><a href="/aluguel-por-temporada/">ALUGUEL POR TEMPORADA</a></li>
            </ul>
        </nav>
        <script src="" async defer></script>
    </body>
</html>